# **This is introduction to python**

In [ ]:
print("Hello world!")

Hello world!

In [ ]:
num1 = 10.0
num2 = 5
sum1 = num1 + num2
print(sum1)

15.0

In [ ]:
num1 = int(input("Enter a number: "))
num2 = float(input("Enter another number: "))
sum1 = num1 + num2
print(sum1)

Enter a number: 5
Enter another number: 8
13.0

In [ ]:
print(f'The sum of {num1} and {num2} is {sum1}')

The sum of 5 and 8.0 is 13.0

In [ ]:
x = 10
y = 3
result = x//y
print(result)

3

# **Selection statement**

In [ ]:
x = 9
if x%2==0:
  print("Even")
else:
  print("Odd")

Odd

In [ ]:
x = 15
if x%3 != 0 and x%5!=0:
  print(f"{x} is not divisible by 3 and 5")
elif x%3 == 0 and x%5!=0:
  print(f"{x} is only divisible by 3")
elif x%5 == 0 and x%3!=0:
  print(f"{x} is only divisible by 5")
else:
  print(f"{x} is divisible by both 3 and 5")

15 is divisible by both 3 and 5

In [ ]:
x = 15
if (x%3 == 0 and x%5!=0) or (x%5 == 0 and x%3!=0):
  print("Yes")
else:
  print("No")

Yes

# **Loop**

In [ ]:
s = ""
for i in range(20, 1, -3):
  s = s + str(i) + " "
print(s)

20 17 14 11 8 5 2

In [ ]:
x = 20
while x >= 2:
  print(x)
  x -= 3

20
17
14
11
8
5
2

# **List**

In [ ]:
numbers = [2, 3, 5, 6, 8, 9]
print(numbers)
numbers.append(13)
print(numbers)

[2, 3, 5, 6, 8, 9]
[2, 3, 5, 6, 8, 9, 13]

In [ ]:
numbers = []
for i in range(5):
  #x = int(input())
  numbers.append(i)
print(numbers)

[0, 1, 2, 3, 4]

In [ ]:
numbers.append(3.5)
print(numbers)

[0, 1, 2, 3, 4, 3.5]

In [ ]:
numbers.insert(2, 39)
print(numbers)

[0, 1, 39, 2, 3, 4, 3.5]

In [ ]:
numbers.insert(len(numbers), 29)
print(numbers)

[0, 1, 39, 2, 3, 4, 3.5, 29]

In [ ]:
x = numbers.pop()
print(x)
print(numbers)

29
[0, 1, 39, 2, 3, 4, 3.5]

In [ ]:
numbers.pop(2)
print(numbers)

[0, 1, 3, 4, 3.5]

In [ ]:
def factorial(n):
  x = 1
  for i in range(1, n+1):
    x = x*i
  return x

In [ ]:
print(factorial(5))

120

In [ ]:
def fun(list):
  list.pop();

In [ ]:
l = [1, 2,3 , 4]
fun(l)
print(l)

[1, 2, 3]