**Replace, Split, Join,**

In [1]:
x= "holyshit"
y = "shit"
n = " home"
k = x.replace(y,n)
print(k)

holy home

In [2]:
x= "holyshit"
k = x.replace("shit"," home")
print(k)

holy home

In [3]:
p = "my name is khan"
k = p.split(" ")
print(k)

['my', 'name', 'is', 'khan']

In [4]:
p = "home make me home"
x = "home"
k = p.split(" ")
count = 0
print(k)
for word in k:
  if(word == x):
    count+=1
print(count)

['home', 'make', 'me', 'home']
2

# **Function**

In [ ]:
def maxSecondMax(list1):
  m = list1[0]
  s = list1[0]
  idx = 0
  for i in range(1, len(list1)):
    if m < list1[i]:
      m = list1[i]
      idx = i
  second = -9999;
  for i in range(len(list1)):
    if second < list1[i] and i != idx:
      second = list1[i]
  return m, second

In [ ]:
def maxSecondMax1(list1):
  m = max(list1)
  s = -9999
  for item in list1:
    if item > s and item !=m:
      s = item
  return m, s

In [ ]:
list1 = [25, 34, 12, 13, 3, 76, 29]
x = maxSecondMax1(list1)

In [ ]:
def findCount(sentence, sub):
  c = 0
  temp = ""
  for i in range(len(sentence)):
    if sentence[i] != ' ':
      temp = temp + sentence[i]
    elif sentence[i] == ' ':
      if temp == sub:
        c+=1
      temp = ""
  return c

In [ ]:
def findCount1(sentence, sub):
  c = 0
  list1 = sentence.split()
  for word in list1:
    if word == sub:
      c+=1
  return c

In [ ]:
print(findCount1("this is the best team in the world", "the"))print(findCount1("this is the best team in the world", "the"))

2

In [ ]:
"this is the best team in the world".split()
# split() <-function to break bigger strings or a line into several small strings

['this', 'is', 'the', 'best', 'team', 'in', 'the', 'world']

# **Dictionaries**

In [ ]:
student = {
    "name": "Alice",
    "id": 1,
    "cgpa": 3.9
}

In [ ]:
print(student["id"])

1

In [ ]:
print(student.items())

dict_items([('name', 'Alice'), ('id', 1), ('cgpa', 3.9)])

In [ ]:
print(student.values())

dict_values(['Alice', 1, 3.9])

In [ ]:
print(student.keys())

dict_keys(['name', 'id', 'cgpa'])

In [ ]:
studentlist = [
    {
    "name": "Alice",
    "id": 1,
    "cgpa": 3.1
    },
    {
    "name": "Bob",
    "id": 2,
    "cgpa": 3.5
    },
    {
    "name": "Charlie",
    "id": 3,
    "cgpa": 3.95
    },
    {
    "name": "Danny",
    "id": 4,
    "cgpa": 3.3
    }
]

In [ ]:
max = studentlist[0]
for i in range(1, len(studentlist)):
  if studentlist[i]["cgpa"] > max["cgpa"]:
    max = studentlist[i]
print(max)

{'name': 'Charlie', 'id': 3, 'cgpa': 3.95}

In [ ]:
list1 = [1, 2, 3, 4, 5, 6]
list2 = list1[1:len(list1)-1]
print(list2)

[2, 3, 4, 5]

In [ ]:
print(list2[-1])

5

Lambda function

In [ ]:
def double(x):
  return x*2

In [ ]:
print(double(5))

10

In [ ]:
double = lambda x: x*2
print(double(5))

10

In [ ]:
add = lambda a, b: a+b
print(add(5,10))

15

In [ ]:
sub = lambda a, b: a-b
print(sub(10,2))

8

**Class**

In [ ]:
class Student:
  id = 0
  name = ""
  cgpa = 0.0
  def __init__(self, id, name, cgpa):
    self.id = id
    self.cgpa = cgpa
    self.name = name
  def toString(self):
    return f'ID: {self.id} Name: {self.name} Cgpa: {self.cgpa}'

In [ ]:
s = Student(1, "Alice", 3.8)
print(s.toString())

ID: 1 Name: Alice Cgpa: 3.8

# List Comprehension

In [ ]:
list1 = []
for i in range(1, 101):
  list1.append(i)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
list1 = []
k = int(input())
for i in range(0, k):
  list1.append(int(input()))
print(list1)

3
1
2
3
[1, 2, 3]

In [ ]:
list1 = [i for i in range(1, 101)]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
list2 = [i for i in range(1,16,2) if str(5) in str(i)]
print(list2)

[5, 15]

In [ ]:
list1 = [i for i in range(1, 101) if i%5==0]
print(list1)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [ ]:
list1 = [i for i in range(1, 101) if '6' in str(i) and i%2==0 ]
print(list1)

[6, 16, 26, 36, 46, 56, 60, 62, 64, 66, 68, 76, 86, 96]

In [ ]:
sentence = "the quick brown fox jumps over the lazy dog"
result = []
for item in sentence.split():
  result.append(len(item))
print(result)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [ ]:
result = [len(item) for item in sentence.split() if item!="the"]
print(result)

[5, 5, 3, 5, 4, 4, 3]

In [ ]:
matrix = [[i for i in range(5)] for j in range(5)]
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

# Set

In [ ]:
print(set("my name is Eric and Eric is my name".split()))

{'name', 'and', 'my', 'Eric', 'is'}

In [ ]:
a = {"Alice", "Bob", "Charlie"}
b = {"Alice", "Bob", "Danny"}
print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(a.symmetric_difference(b))

{'Alice', 'Danny', 'Bob', 'Charlie'}
{'Bob', 'Alice'}
{'Charlie'}
{'Danny', 'Charlie'}

# map() filter()

**Note :** map is simply use for receiving a function and a list together.

In [ ]:
def double(x):
  return x*2

In [ ]:
list1 = [1, 2, 4, 5, 6]
result = [item for item in map(double, list1)]
print(result)

[2, 4, 8]

In [ ]:
def filterVowels(letter):
    vowels = ['a', 'e', 'i', 'o', 'u']
    if(letter in vowels):
        return False
    else:
        return True

In [ ]:
sentence = "the quick brown fox jumps over the lazy dog"
chars = [i for i in sentence]
result = set([item for item in filter(filterVowels, chars) if item != ' '])
print(result)

{'d', 't', 'k', 'w', 'l', 'c', 'v', 'g', 'b', 'm', 'h', 'r', 'y', 'z', 'j', 'x', 'p', 'q', 'n', 'f', 's'}

In [ ]:
def add(a, b):
  return a+b

# importing functools for reduce()
import functools

# initializing list
list1 = [1, 3, 5, 6, 2]

# using reduce to compute sum of list
print ("The sum of the list elements is : ")
print (functools.reduce(add, list1))

The sum of the list elements is :
17

example of lamda map filter

In [ ]:
list1 = [1,10,7,8,9,4]
k = list(filter(lambda x : x%2==0, list1))
print(list(filter(lambda x : x%2==0, list1)))

def add(k):

   return k+1

k = list(map(add,k))
print(k)